//使い回し度 90%： 読み込み順序を固定します。

// 1.Foundation（土台：一番最初に読み込む）
@use "foundation/reset";
@use "foundation/base";

// 2. Layout（大きな枠組み）
@use "layout/l-header";
@use "layout/l-main";
@use "layout/l-footer";

// 3. Component（使い回す小さな部品）
@use "component/components";
@use "component/c-animation";
@use "component/c-social";


// 4. Project（ページ固有の具体的なコンテンツ）
@use "project/p-button";
@use "project/p-cards";
@use "project/p-nav-list";
@use "project/p-mv";
@use "project/p-menu";
@use "project/p-news";
@use "project/p-access";

