// _layout.scss の一番上
@use "../config/config";
@use "../config/mixin";

.l-footer {
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: config.$color-accent-bg;
  font-family: config.$font-title;
  padding: 20px;
  font-size: 9px;
  color: config.$white;

  &__social {
  display: flex;
  gap: 20px;
  justify-content: center;
       margin-bottom: 10px;
    @include mixin.mq("pc") {
     display: none;
  }
  }
}
