// footerのレイアウト設定
@use "../config/config" as c;
@use "../config/mixin" as m;

.l-footer {
  width: 100%;
  text-align: center;
  background-color: c.$color-accent-bg;
  font-family: c.$font-title;
  color: c.$white;
  padding: 30px c.$pad-base;
  @include m.flex-v-center;
  @include m.flex-col(10px);

  &__social.c-social {
    @include m.flex-center;
    gap: 20px;

    @include m.mq("pc") {
     display: none;
    }
  }
  &__copyright {
    font-size: 0.8em;
  }
}
