// _layout.scss の一番上
@use "../config/config";
@use "../config/mixin";


.l-header {
  width: 100%;
  padding: 20px;
  margin: auto;
  text-align: center;
  background-color: config.$color-accent-bg;
  font-family: config.$font-title;
  position: relative;

  &__nav {
    padding: 20px;
  }

  @include mixin.mq(sp) {
    padding: 10px;
  }

  &__logo {
    color: config.$white;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
  }
  &__social {
  position: absolute;
  top: 50px;
  right: 30px;
  display: flex;
  gap: 20px;
  }

}

.l-flex {
  @include mixin.flex-center;
}