//headerのレイアウト設定
@use "../config/config" as c;
@use "../config/mixin" as m;

.l-header {
  position: relative;
  z-index: 100;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-inline: c.$pad-base;
  text-align: center;
  background-color: c.$color-accent-bg;
  font-family: c.$font-title;

  &__logo {
    color: c.$white;
    font-size: 32px;
    font-weight: bold;
  }

  &__nav {
    padding: 10px 10px 20px;
    @include m.mq("sp") {
      padding: 10px;
    }
  }

  &__social.c-social {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);

    @include m.mq("tab") {
      @include m.flex-col(5px);
      right: 20px;
      gap: 5px;
    }

    @include m.mq("sp") {
      display: none; // sp以下では表示しない
    }
  }
  @include m.mq("sp") {
    padding: 10px;
  }
}

.l-flex {
  @include m.flex-center;
}