// mainのレイアウト設定
@use "../config/config" as c;
@use "../config/mixin" as m;

.l-section {
  padding-top: c.$space-section-pc;

  @include m.mq("sp") {
    padding-top: 40px;
  }

 &.is-last-section {
    padding-bottom: c.$space-section-pc;

    @include m.mq("sp") {
    padding-bottom: c.$space-section-sp;
    }
  }
}

.l-container {
  @include m.inner; // 幅を制限して中央に寄せる
}
