//使い回し度 20%： クラス名のルールだけ真似して中身は書き換えます。
/*
ページ全体の構成要素: header, main, footer, nav, sidebar などの外枠。
コンテナ（Container）: コンテンツが広がりすぎないように幅を制限する中央寄せの設定。
配置ルール: display: flex や grid を使った、大きなエリアの並び方。
*/

// _layout.scss の一番上
@use "../config/config" as c;
@use "../config/mixin" as m;


.l-mv {
  width: 100%;
  height: 60vh;
  background: #eee;
  @include m.flex-center;
  text-align: center;
}