@use "../config/config";
@use "../config/mixin";

body {
  font-family: config.$font-base;
  font-size: 16px;
  color: config.$black-light;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}