//bodyの中の基本設定
@use "../config/config" as c;
@use "../config/mixin" as m;

body {
  font-family: c.$font-base;
  color: c.$black-light;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-wrap: break-word;
  overflow-x: hidden;
  @include m.fz("m");
}