//使い回し度 50%： 変数名は固定して、数値だけその都度書き換えます。
// 色の定義
// 色・サイズを今回のLP用に書き換えるだけ！

// --- Colors ---
$color-main: #333;
$color-base-bg: #ffd7f678;
$color-accent-bg: #e993d7;
$color-translucent-bg: rgba(0,0,0,0.5);
$black-light: #333;
$black: #000;
$white: #fff;
$color-border: #ccc;

// --- Breakpoints ---
$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: 1024px)",
  "pc": "screen and (min-width: 768px)",
);

// --- Layout ---
$inner-width: 1200px; // ★追記：l-containerなどで使用

// --- Typography ---
$font-base: "M PLUS 2", sans-serif;
$font-title: "Hachi Maru Pop", cursive;

// --- Others ---
$radius-base: 4px;
$transition-base: 0.3s ease;