//使い回し度 70%： 構造をコピーして、Mixinを活用して仕上げます。
/*
「枠組み（Layout）」が決まった後の、中身のデザインを細かく作り込みます。
装飾: 背景色、枠線（border）、角丸（border-radius）、影（box-shadow）。
テキスト: フォントの太さ、行間、ホバーした時の色の変化。
アニメーション: マウスを乗せた時や、クリックした時の「動きのルール」。
*/
@use "../config/config";
@use "../config/mixin";

.c-title-heading {
  border-bottom: 8px solid #e7e7e7;
  text-align: center;
  line-height: 1.2;
  color: black;
  width: 30%;
  margin: 0 auto;
  padding-top: 30px;
  font-family: config.$font-title;
  font-size: 24px;
  @include mixin.mq("sp") {
    width: 50%;
  }

}

.c-container {
  margin-top: 80px;
  @include mixin.mq("sp") {
  margin-top: 40px;
  }
}

.c-order2 {
  order: 2;
  @include mixin.mq("sp") {
    order: initial;
  }
}

.c-btn {
  display: inline-block;
  padding: 1em 2em;
  background-color: config.$color-main;
  color: #fff;
  text-decoration: none;
  border-radius: config.$radius-base;
  transition: config.$transition-base;
  cursor: pointer;
  border: none;

  @include mixin.hover {
    opacity: 0.8;
  }

  &__text {
    font-weight: bold;
    font-size: mixin.rem(16);
  }

}