//使い回し度 70%： 構造をコピーして、Mixinを活用して仕上げます。
/*
「枠組み（Layout）」が決まった後の、中身のデザインを細かく作り込みます。
装飾: 背景色、枠線（border）、角丸（border-radius）、影（box-shadow）。
テキスト: フォントの太さ、行間、ホバーした時の色の変化。
アニメーション: マウスを乗せた時や、クリックした時の「動きのルール」。
*/
@use "../config/config";
@use "../config/mixin";

#Fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.Fade-in-active {
    opacity: 1 !important;
}

.slide-in.is-slide-left {
  transform: translateX(-100%);
  transition: transform 0.8s ease-out;
  pointer-events: auto;
  z-index: 10;
}

.p-mv__content.slide_active {
  transform: translateX(0);
}

.c-social {
  &__link {
    width: 30px;
    height: 30px;
    display: flex;
  }

  &__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}



.c-btn {
  display: inline-block;
  padding: 1em 2em;
  background-color: config.$color-main;
  color: #fff;
  text-decoration: none;
  border-radius: config.$radius-base;
  transition: config.$transition-base;
  cursor: pointer;
  border: none;

  @include mixin.hover {
    opacity: 0.8;
  }

  &__text {
    font-weight: bold;
    font-size: mixin.rem(16);
  }

}