//使い回し度 70%： 構造をコピーして、Mixinを活用して仕上げます。
/*
「枠組み（Layout）」が決まった後の、中身のデザインを細かく作り込みます。
装飾: 背景色、枠線（border）、角丸（border-radius）、影（box-shadow）。
テキスト: フォントの太さ、行間、ホバーした時の色の変化。
アニメーション: マウスを乗せた時や、クリックした時の「動きのルール」。
*/
@use "../config/config" as c;
@use "../config/mixin" as m;

%title-base {
  font-family: c.$font-title;
  line-height: 1.2;
  color: #000;
}

// 小さい下線（どこでも使える共通部品）
.c-title {
  @extend %title-base;
  @include m.flex-v-center;
  gap: 10px;
  border-bottom: 4px solid c.$color-border;
  padding-bottom: 4px;
  font-weight: 500;
  @include m.fz("ml");
  font-family: c.$font-base;

  // Newsなどで使う中央寄せModifier
  &--center {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}

// 大きい下線（セクション用）
.c-title-heading {
  @extend %title-base;
  margin-inline: auto;
  width: fit-content;
  border-bottom: 8px solid c.$color-border;
  padding-bottom: 8px;
  text-align: center;
  @include m.fz("xl");
}

.c-order2 {
  order: 2;
  @include m.mq("sp") {
    order: initial;
  }
}

.c-btn {
  display: inline-block;
  padding: 1em 2em;
  background-color: c.$color-main;
  color: #fff;
  text-decoration: none;
  border-radius: c.$radius-base;
  transition: c.$transition-base;
  cursor: pointer;
  border: none;

  @include m.hover {
    opacity: 0.8;
  }

  &__text {
    font-weight: bold;
    font-size: m.rem(16);
  }
}