@use "../config/mixin";
@use "../config/config";

.p-access {

  &__info {
    display: flex;
    gap: 20px;
  }

  &__list {
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: #e7ffce;
    border-radius: 10px;
    padding: 20px;
    line-height: 2;
  }

  &__item {
      display: flex;
      flex-wrap: wrap;
  }

  &__label {
    font-weight: 600;
  }

  &-map {
    width: 40%;
    align-items: center;
    display: flex;
  }

  &__image {
    width: 100%;
  }
}

.p-reservation {
  border: 1px solid #73bf6d;
  background-color: #5d9a59;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  width: 400px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: config.$white;
}
