//_p-accessにのみ適応する余白、配置、装飾
@use "../config/config" as c;
@use "../config/mixin" as m;

.p-access {
  padding-bottom: 80px;

  &__heading {
    margin-bottom: c.$space-title-bottom;
  }

  &__info {
    display: flex;
    gap: 20px;

    @include m.mq("sp") {
      flex-direction: column;
    }
  }

  &__list {
    width: 60%;
    @include m.flex-col(12px);
    background-color: #e7ffce;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline: c.$pad-base;

    @include m.mq("sp") {
      width: 100%;
    }
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
  }

  &__label {
    font-weight: 600;
  }

  &-map {
    width: 40%;
    @include m.flex-v-center;
    @include m.mq("sp") {
      width: 100%;
    }
  }

  &__image {
    width: 100%;
  }
}

.p-reservation {
  background-color: #5d9a59;
  border: 1px solid #73bf6d;
  border-radius: 10px;
  padding: 15px 10px;
  color: c.$white;
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin-inline: auto; // 中央寄せ

  &__title {
    font-weight: bold;
    font-size: 0.9em;
  }

  &__tel {
    font-size: 1.2em;
    font-weight: bold;
  }

  @include m.mq("sp") {
    max-width: 250px;
  }
}