@use "../config/config";
@use "../config/mixin";

.p-label-new {
  background-color: #acabab;
  color: config.$white;
  font-size: 12px;
  border-radius: 3px;
  text-align: center;
  min-width: 40px;
  min-height: 25px;
  @include mixin.flex-center;
}


