@use "../config/config";
@use "../config/mixin";

.p-mv {
  &__image-wrapper {
    width: 100%;
    height: 700px;
    position: relative;

    @include mixin.mq("sp") {
      height: 400px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
  width: 40%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  padding: 105px 60px;
  transition: transform 0.8s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  font-family: config.$font-title;
    @include mixin.mq("tab") {
      width: 50%;
    }
     @include mixin.mq("sp") {
      width: 100%;
    }
  }

  &__name {
    text-align: center;
  }

  &__text {
    color: config.$white;
    font-size: 18px;
    line-height: 1.5;
    @include mixin.mq("sp") {
      font-size: 16px;
    }
  }

  &__name {
    color: config.$white;
    padding-top: 20px;
  }
}