//_p-mvにのみ適応する余白、配置、装飾
@use "../config/config" as c;
@use "../config/mixin" as m;

.p-mv {
  &__image-wrapper {
    width: 100%;
    height: 700px;
    position: relative;

    @include m.mq("sp") {
      height: 400px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 40%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    padding: 105px 60px;
    font-family: c.$font-title;
    transition: transform 0.8s ease-out;

    @include m.mq("tab") { width: 50%; }
    @include m.mq("sp") { width: 100%; }
  }

  &__name {
    text-align: center;
  }

  &__text {
    color: c.$white;
    @include m.fz("ml");

    @include m.mq("sp") {
    @include m.fz("m");
    }
  }

  &__name {
    color: c.$white;
    padding-top: 20px;
  }
}