@use "../config/mixin";
@use "../config/config";

.p-menu {

  &__title {
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    border-bottom: 4px solid #e7e7e7;
  }

  &__list {
    gap: 40px 20px;
    @include mixin.grid-3;
  }

/* JavaScriptで追加されるクラス：画面内に入った時の状態 */
  &__body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: config.$font-base;
  }
  &__image-wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  &__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
