@use "../config/mixin";
@use "../config/config";


.p-news {

  &__title {
    font-size: 20px;
    font-weight: 500;
  }

  &__introduction {
    margin-top: 15px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__item {
    width: 100%;
    display: flex;
    gap: 50px;

  }

  &__bg {
    width: 50%;
    background-image: url(../../img/news_bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__body {
    text-align: center;
    padding: 20px;
    gap: 8px;
  }

  &__image {
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }

}