//_p-nav-listにのみ適応する余白、配置、装飾
@use "../config/config" as  c;
@use "../config/mixin" as m;

.p-nav-list{
  gap: 60px;
  color: c.$white;
  @include m.flex-v-center;
  @include m.fz("l");

  &__item {
    color: c.$white;
  }

  @include m.mq("sp") {
    gap: 20px;
    @include m.fz("ml");
  }
}