@use "../config/mixin";
@use "../config/config";

.p-nav-list{
  display: flex;
  justify-content: center;
  font-size: 20px;
  gap: 70px;
  color: config.$white;

  &__item {
    color: config.$white;
  }

}