@use "../config/mixin";
@use "../config/config";


.p-news {

  &__title {
    font-size: 20px;
    font-weight: 500;
  }

  &__introduction {
    margin-top: 15px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    @include mixin.mq("tab") {
      gap: 30px;
    }
    @include mixin.mq("sp") {
      flex-direction: column;
    }

  }

  &__bg {
    width: 50%;
    height: auto;
    background-image: url(../../img/news_back.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mixin.mq("sp") {
      width: 100%;
      height: 400px;
      background-size: cover;
    }
  }

  &__body {
    text-align: center;
    padding: 20px;
    gap: 8px;
  }

  &__image {
    width: 50%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    @include mixin.mq("tab") {
      height: 350px;
    }
      @include mixin.mq("sp") {
      width: 100%;
    }
  }


}