@use "../config/mixin";
@use "../config/config";

.p-nav-list{
  display: flex;
  justify-content: center;
  font-size: 20px;
  gap: 60px;
  color: config.$white;

  &__item {
    color: config.$white;
  }

  @include mixin.mq("sp") {
    gap: 20px;
    font-size: 18px;
  }

}