//_p-newsにのみ適応する余白、配置、装飾
@use "../config/config" as c;
@use "../config/mixin" as m;

.p-news {
  @include m.flex-col(15px);

  &__heading {
    margin-bottom: c.$space-title-bottom;
  }

  &__title {
    @include m.fz("l");
    font-weight: 500;
  }

  &__introduction {
    * + & {
    margin-top: 15px;
    }
  }

  &__list {
    @include m.flex-col(40px);
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;

    @include m.mq("tab") {
      gap: 15px;
    }

    @include m.mq("sp") {
      flex-direction: column;
      gap: 5px;
    }
  }

  &__bg {
    width: 50%;
    height: auto;
    background-image: url(../../img/news_back.jpg);
    background-position: center;
    background-size: cover;
    flex-direction: column;
    @include m.flex-center;

    @include m.mq("sp") {
      width: 100%;
      height: 400px;
    }
  }

  &__body {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline: c.$pad-base;
    @include m.flex-col(8px);
  }

  &__image {
    width: 50%;
    height: 500px;
    object-fit: cover;
    object-position: center;

    @include m.mq("tab") {
      height: 350px;
    }
    @include m.mq("sp") {
      width: 100%;
    }
  }
}